/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


@import "bootstrap-sprockets";
@import "bootstrap";

@font-face
{
font-family: nexa_bold;
src: asset_url("Nexa-Bold.otf");
}

@font-face
{
font-family: nexa_light;
src: asset_url("Nexa-Light.otf");
}

@font-face
{
font-family: bebas_neue;
src: asset_url("BebasNeueRegular.otf");
}

@font-face
{
font-family: bebas_neue_light;
src: asset_url("BebasNeueLight.otf");
}

@font-face
{
font-family: bebas_neue_thin;
src: asset_url("BebasNeueThin.otf");
}







.header-fix {
  position: fixed;
  width: 100%;

	.item {
	  margin: 20px;
	}
	.left {
	  float: left;
	}

	.right {
		float: right; 
	}
}

.looking-glass {
  background: rgba(0,0,0, 0.8);
}

.header-scroll {
	background: whitesmoke;
  z-index: 999;
}

#whoami {
	text-align: center;
	width: 100%;
  font-family: "nexa_bold";
  font-size: 40px;
  padding-top: 10%;
}

.topher {
	position: absolute;
	bottom: 0px;
	height: 315px;
	width: 100%;
}

.topher-face {
	position: relative;
	text-align: center;
	margin: 0 auto;
	width: 30%;
	overflow: hidden;

	img {
	  position: relative;
	  float: left;
	  -moz-transform: rotate(90deg);
	  -webkit-transform: rotate(90deg);
	  transform: rotate(90deg);
	  max-width: 100%;
	}
}

.cli {
  color: lime; 
  font-family: bebas_neue_light;
  font-size: 35px;
  letter-spacing: 3px;
  margin: 10px 0 0 10px;
  white-space: nowrap;
  overflow: hidden;
  width: 30em;
  color: lime;
}

#command-line {
	position: relative;
	width: 100%;
	margin: 0 auto;
	float: none;
	text-align: center;
	padding-top: 50px;
	height: 25px;
	padding-bottom: 50px;

}
