#video-modal.modal.fade{"aria-labelledby" => "video-modalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document", style: 'width: 853px;'}
    .modal-body

#close-video
  .bar.short-bar
  .bar.long-bar
  .bar.short-bar
