.looking-glass
  .container-fluid
    .row#whoami
      .col-md-12
        #command-line.cli
          .element


    .row.topher
      .col-md-12
        .topher-face= image_tag 'mid.JPG'

.container-fluid
  .row
    .col-md-12
      %h1
        Skills
      .jumbotron
        %h4 Technical
        Ruby, Rails, HTML, Sass, Javascript, jQuery, Ajax, unix, Github, basic linux, cross browser, Postgresql

        %h4 Tools
        Amazon Web Services, Heroku, Digital Ocean, Sublime Text

        %h4 Project
        Project Management, Customer Management, Statement Of Work, CRM's



  .row
    .col-md-12
      .jumbotron 
        Interests
      .jumbotron 
        Interests
      .jumbotron 
        Interests
  