!!!
%html
  %head
    %title Solo
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .header-fix.header-scroll
      .item.left
        Christopher
      .item.right
        Twitter
      .item.right
        Linked
      .item.right
        Github
      .item.right
        Youtube
    = yield